* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
}

.navbar {
  min-height: 10vh;
  background-color: cornflowerblue;
  display: flex;
  justify-content: space-around;
  font-size: 30px;
}
.user-main {
  background-image: url(https://cdn.inofab.health/hubfs/inofab-health/website/career/Frontend%20Developer.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
}
.user {
  font-size: 30px;
  justify-content: center;
}
.about {
  background-image: url(https://cdn.hashnode.com/res/hashnode/image/upload/v1593022350085/mkl_2WJqK.png);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
}
.skills {
  font-size: 20px;
  font-style: oblique;
}
.home {
  background-color: burlywood;
  height: 100vh;
}
.footer {
  background-color: brown;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer a {
  color: aliceblue;
}
